<button data-carousel-prev class="carousel-prev is-hidden" aria-label="{{ 'accessibility.previous' | t }}">
  {% render 'icon-chevron' %}
</button>

<button data-carousel-next class="carousel-next is-hidden" aria-label="{{ 'accessibility.next' | t }}">
  {% render 'icon-chevron' %}
</button>
