<quick-add-modal
  class="modal bottom-modal quick-add-modal shopify-section"
  id="quick-add-modal"
  position="center-center"
  hide-scrollbar
>
  <div slot="content" tabindex="-1" class="md:grid md:grid-cols-2">
    <div data-media-container class="hidden md:block"></div>

    <div class="relative md:border-solid md:border-l md:border-separator">
      <button
        class="modal-close mb-8 absolute right-3 md:right-4 top-3 md:top-4  z-[1000]"
        data-button-close
        aria-label="{{ 'accessibility.close_modal' | t }}"
      >
        {% render 'icon-times' %}
      </button>
      <div
        class="p-6 sm:p-8 md:p-10 trim-margins flex items-end md:items-center child:w-full"
        data-product-info-container
      ></div>
    </div>
  </div>
</quick-add-modal>
